In [1]:
import pandas as pd
import numpy as np

In [2]:
DATA_PATH = "../../../data"
df_hist_siniestros = pd.read_excel(DATA_PATH + '/Historico de Siniestros.xlsx')
df_com_cart_clientes = pd.read_excel(DATA_PATH + '/Composicion de Cartera de clientes de Auto.xlsx')
df_hist_autos = pd.read_excel(DATA_PATH + '/Historico Auto y Caracteristicas de Vehiculo.xlsx')

In [3]:
df_hist_siniestros

,ID _ SINIESTRO,CD_PERSONAv2,FE_OCURRENCIA,Poliza Id v2,CD_PROVINCIA,CD_CIUDAD,DE_LUGAR_OCURRENCIA,NU_SINIESTRO_RELACIONADO,IN_FRAUDE,De_Causa_Siniestro,De_Causa_Detalle,DE_PROVINCIA,DE_CIUDAD,HORA_OCURRENCIA,RELACION_RECLAMANTE,EVENTO_CATASTROFICO
0,1,7668,2015-05-29,1,29.0,1.0,Siniestro reportado vía cover.,,0.0,Accidente/Choque,Choque Simple,Distrito Nacional,Santo Domingo,17:15,0,0
1,2,23643,2016-02-12,2,29.0,1.0,C/ MAYAGUEZ URB. VILLAS DUMIT,,0.0,Accidente/Choque,Choque con Objeto,,,,,
2,3,29730,2016-02-09,3,1.0,1.0,Barahora,,0.0,Responsabilidad Civil Personas o Cosas,Lesiones y/o Muerte Pasajero/Terceros/ Daños a...,,,,,
3,4,14301,2016-02-15,4,1.0,1.0,Arroyo Hondo II,,0.0,Robo o Hurto Accesorios/ Partes o Piezas,Robo Accesorio y/o Piezas,Distrito Nacional,Santo Domingo,16:30,0,0
4,5,24144,2016-02-03,5,1.0,1.0,Avenida Gustavo Mejia Ricart,,0.0,Accidente/Choque,Colision,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18701,18702,192804,2023-04-04,11379,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,0,,,,,
18702,18703,181905,2023-06-03,11470,1.0,1.0,LOS MULTIS LOS ALCARRIZOS,,0.0,Rotura de Vidrios y/o Parabrisas,0,,,,,
18703,18704,182109,2023-05-22,11471,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,0,,,,,
18704,18705,302838,2023-06-01,11472,1.0,1.0,CALLE CAMINO CHIQUITO,,0.0,Accidente/Choque,Choque Simple,,,,,
18705,18706,114156,2023-05-06,11311,13.0,1.0,HIGUEY PROXIMO AL COMERCIAL REYNALDO VILLA CER...,,0.0,Responsabilidad Civil Personas o Cosas,Daños a la Propiedad de Terceros,,,,,

In [4]:
df_hist_siniestros['NU_SINIESTRO_RELACIONADO']

0
1
2
3
4
        ..
18701
18702
18703
18704
18705
Name: NU_SINIESTRO_RELACIONADO, Length: 18706, dtype: object

In [5]:
df_com_cart_clientes

,CD_PERSONA v2,TP_DOCUMENTO,CD_SEXO,CD_ESTADO_CIVIL,Rango de Edad,Tiempo desde registro (meses),IN_LISTA_NEGRA,CD_PAIS_NACIMIENTO,CD_NACIONALIDAD,IN_INACTIVO,...,CD_PROVINCIA_NACIMIENTO,DE_ACT_ECONOMICA_ADICIONAL,CD_SUCURSAL_ENVIO,De_Sector,De_Ocupacion,DE_ACTIVIDAD,DE_INGRESO_ANUAL,DE_PROFESION,DE_TIPO_PERSONA,DE_PROVINCIA
0,240,RNC,NaN,NaN,,108,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,Industrial,0,0,0,0,Juridica,0
1,267,RNC,NaN,NaN,,1476,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0
2,270,RNC,NaN,NaN,,1476,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0
3,279,RNC,NaN,NaN,,1476,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0
4,288,RNC,NaN,NaN,,1476,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28481,308598,CED,M,S,7- Rango 66-75,1476,NaN,DOM,DOM,NaN,...,1.0,NaN,1.0,0,0,0,0,0,Natural,Distrito Nacional
28482,308604,CED,M,S,2- Rango 18-25,1476,NaN,DOM,DOM,NaN,...,17.0,NaN,1.0,0,0,0,0,0,Natural,Monseñor Nouel
28483,308610,CED,M,S,3- Rango 26-35,1476,NaN,DOM,DOM,NaN,...,13.0,NaN,3.0,0,"INMOBILIARIA, EMPLEADOS DE",0,0,"INMOBILIARIA, EMPLEADOS DE",Natural,La Altagracia
28484,308613,CED,F,C,4- Rango 36-45,1476,NaN,DOM,DOM,NaN,...,NaN,NaN,1.0,0,0,0,0,0,Natural,0
28485,308619,CED,M,S,5- Rango 46-55,1476,NaN,DOM,DOM,NaN,...,NaN,NaN,1.0,0,0,0,0,0,Natural,0

In [6]:
df_hist_autos

,CD_PERSONA v2,Poliza Id v2,TIPO_VEHICULO,Color,Marca,Modelo,Año,Tipo Transmision
0,240,11473,Jeeps y Vanette,Blanco,LEXUS,RX350,2014,Automatico
1,240,11474,Camion,Blanco,MITSUBISHI,FUSO,2007,Sincronico_Camión
2,267,11475,Camioneta,Blanco,ISUZU,D-MAX,2008,Automatico
3,267,11476,Jeeps y Vanette,Blanco,TOYOTA,LAND CRUISER,2002,Automatico
4,267,11477,Furgoneta,Blanco,SHINERAY,MINI TRUCK,2018,Furgoneta_Sincronico
...,...,...,...,...,...,...,...,...
55702,311349,55714,Automovil,Rojo,NISSAN,VERSA,2015,S - Automatico
55703,311391,55715,Automovil,Rojo,TOYOTA,COROLLA,2002,Automatico
55704,311403,55716,Jeeps y Vanette,Gris,JEEP,WRANGLER,2017,Sport 4x4 - Automatico
55705,311736,55717,Jeeps y Vanette,Blanco,TOYOTA,HIGHLANDER,2020,SE - Automatico
55706,311763,55718,Automovil,Rojo,TOYOTA,YARIS,2018,Base - Automatico

In [7]:
df_hist_siniestros.rename(columns={'CD_PERSONAv2': 'CD_PERSONA v2'}, inplace=True)

In [8]:
df_comb = df_hist_siniestros.merge(df_com_cart_clientes, on="CD_PERSONA v2", how="left")

In [9]:
df_comb = df_comb.merge(df_hist_autos, on="Poliza Id v2", how="left")

In [10]:
df_comb

,ID _ SINIESTRO,CD_PERSONA v2_x,FE_OCURRENCIA,Poliza Id v2,CD_PROVINCIA,CD_CIUDAD,DE_LUGAR_OCURRENCIA,NU_SINIESTRO_RELACIONADO,IN_FRAUDE,De_Causa_Siniestro,...,DE_PROFESION,DE_TIPO_PERSONA,DE_PROVINCIA_y,CD_PERSONA v2_y,TIPO_VEHICULO,Color,Marca,Modelo,Año,Tipo Transmision
0,1,7668,2015-05-29,1,29.0,1.0,Siniestro reportado vía cover.,,0.0,Accidente/Choque,...,0,Juridica,0,7668.0,Automovil,Blanco,TOYOTA,CAMRY,2001.0,CE - Automatico
1,2,23643,2016-02-12,2,29.0,1.0,C/ MAYAGUEZ URB. VILLAS DUMIT,,0.0,Accidente/Choque,...,0,Natural,0,23643.0,Jeeps y Vanette,Rojo,KIA,SPORTAGE,2015.0,4x4 - Automatico
2,3,29730,2016-02-09,3,1.0,1.0,Barahora,,0.0,Responsabilidad Civil Personas o Cosas,...,0,Natural,0,29730.0,Camiones cama,Blanco,DAIHATSU,DELTA,2007.0,Sincronico
3,4,14301,2016-02-15,4,1.0,1.0,Arroyo Hondo II,,0.0,Robo o Hurto Accesorios/ Partes o Piezas,...,NaN,NaN,NaN,41469.0,Jeeps y Vanette,Gris,KIA,SPORTAGE,2012.0,Base 4x4 - Automatico
4,5,24144,2016-02-03,5,1.0,1.0,Avenida Gustavo Mejia Ricart,,0.0,Accidente/Choque,...,0,Juridica,0,24144.0,Jeeps y Vanette,Blanco,TOYOTA,PRADO,2013.0,%Sincronico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18701,18702,192804,2023-04-04,11379,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,...,0,Juridica,0,192804.0,Jeeps y Vanette,Blanco,JEEP,WRANGLER,2023.0,Renegade 4x4 - Automatico
18702,18703,181905,2023-06-03,11470,1.0,1.0,LOS MULTIS LOS ALCARRIZOS,,0.0,Rotura de Vidrios y/o Parabrisas,...,INGENIERO CIVIL,Natural,Elías Piña,181905.0,Camioneta,Blanco,ISUZU,D-MAX,2015.0,Automatico
18703,18704,182109,2023-05-22,11471,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,...,0,Natural,0,182109.0,Jeeps y Vanette,Azul,HYUNDAI,TUCSON,2014.0,GL - Automatico
18704,18705,302838,2023-06-01,11472,1.0,1.0,CALLE CAMINO CHIQUITO,,0.0,Accidente/Choque,...,0,Natural,Distrito Nacional,302838.0,Camioneta,Gris,TOYOTA,HILUX,2023.0,Cabina Sencilla Pick-Up 4x4 - Sincronico
18705,18706,114156,2023-05-06,11311,13.0,1.0,HIGUEY PROXIMO AL COMERCIAL REYNALDO VILLA CER...,,0.0,Responsabilidad Civil Personas o Cosas,...,0,Natural,0,114156.0,Jeeps y Vanette,Gris,LEXUS,RX,2004.0,330 - Automatico

In [11]:
df_comb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18706 entries, 0 to 18705
Data columns (total 44 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID _ SINIESTRO                 18706 non-null  int64
 1   CD_PERSONA v2_x                18706 non-null  int64
 2   FE_OCURRENCIA                  18706 non-null  datetime64[ns]
 3   Poliza Id v2                   18706 non-null  int64
 4   CD_PROVINCIA                   18705 non-null  float64
 5   CD_CIUDAD                      18705 non-null  float64
 6   DE_LUGAR_OCURRENCIA            18495 non-null  object
 7   NU_SINIESTRO_RELACIONADO       18706 non-null  object
 8   IN_FRAUDE                      18070 non-null  float64
 9   De_Causa_Siniestro             18706 non-null  object
 10  De_Causa_Detalle               18706 non-null  object
 11  DE_PROVINCIA_x                 18706 non-null  object
 12  DE_CIUDAD                      18706 non-null  object
 13  HORA_OCURRENCIA                18706 non-null  object
 14  RELACION_RECLAMANTE            18706 non-null  object
 15  EVENTO_CATASTROFICO            18706 non-null  object
 16  TP_DOCUMENTO                   18507 non-null  object
 17  CD_SEXO                        12720 non-null  object
 18  CD_ESTADO_CIVIL                12720 non-null  object
 19  Rango de Edad                  18507 non-null  object
 20  Tiempo desde registro (meses)  18507 non-null  float64
 21  IN_LISTA_NEGRA                 149 non-null    float64
 22  CD_PAIS_NACIMIENTO             13145 non-null  object
 23  CD_NACIONALIDAD                14372 non-null  object
 24  IN_INACTIVO                    2 non-null      float64
 25  FE_INACTIVO                    2 non-null      datetime64[ns]
 26  IN_VIP                         10122 non-null  float64
 27  CD_PROVINCIA_NACIMIENTO        2897 non-null   float64
 28  DE_ACT_ECONOMICA_ADICIONAL     213 non-null    object
 29  CD_SUCURSAL_ENVIO              7369 non-null   float64
 30  De_Sector                      18504 non-null  object
 31  De_Ocupacion                   18504 non-null  object
 32  DE_ACTIVIDAD                   18504 non-null  object
 33  DE_INGRESO_ANUAL               18504 non-null  object
 34  DE_PROFESION                   18504 non-null  object
 35  DE_TIPO_PERSONA                18504 non-null  object
 36  DE_PROVINCIA_y                 18504 non-null  object
 37  CD_PERSONA v2_y                18690 non-null  float64
 38  TIPO_VEHICULO                  18690 non-null  object
 39  Color                          18690 non-null  object
 40  Marca                          18690 non-null  object
 41  Modelo                         18690 non-null  object
 42  Año                            18690 non-null  float64
 43  Tipo Transmision               18684 non-null  object
dtypes: datetime64[ns](2), float64(11), int64(3), object(28)
memory usage: 6.4+ MB

In [12]:
# Agrupar por fecha y calcular la frecuencia de accidentes por día
new_df = df_comb.groupby("FE_OCURRENCIA").size().reset_index(name="Frecuencia")

In [13]:
new_df

     FE_OCURRENCIA  Frecuencia
0       2014-07-05           1
1       2014-07-08           1
2       2014-07-11           1
3       2014-07-12           1
4       2014-07-14           1
...            ...         ...
3113    2023-06-30           2
3114    2023-07-01           3
3115    2023-07-02           2
3116    2023-07-03           4
3117    2023-07-04           4

[3118 rows x 2 columns]

In [14]:
# Agregar columna de día de la semana (0: Lunes, 6: Domingo)
new_df["DiaSemana"] = new_df["FE_OCURRENCIA"].dt.dayofweek

# Agregar columna de mes (1: Enero, 12: Diciembre)
new_df["Mes"] = new_df["FE_OCURRENCIA"].dt.month

# Mapear los valores numéricos de día de la semana a nombres
dias_semana_nombres = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]
new_df["DiaSemana"] = new_df["DiaSemana"].map(lambda x: dias_semana_nombres[x])

# Mapear los valores numéricos de mes a nombres
meses_nombres = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
new_df["Mes"] = new_df["Mes"].map(lambda x: meses_nombres[x - 1])

In [15]:
new_df

     FE_OCURRENCIA  Frecuencia DiaSemana    Mes
0       2014-07-05           1    Sábado  Julio
1       2014-07-08           1    Martes  Julio
2       2014-07-11           1   Viernes  Julio
3       2014-07-12           1    Sábado  Julio
4       2014-07-14           1     Lunes  Julio
...            ...         ...       ...    ...
3113    2023-06-30           2   Viernes  Junio
3114    2023-07-01           3    Sábado  Julio
3115    2023-07-02           2   Domingo  Julio
3116    2023-07-03           4     Lunes  Julio
3117    2023-07-04           4    Martes  Julio

[3118 rows x 4 columns]

In [16]:
# Agregar columna de estación del año
def obtener_estacion(mes):
    if mes in [12, 1, 2]:
        return "Invierno"
    elif mes in [3, 4, 5]:
        return "Primavera"
    elif mes in [6, 7, 8]:
        return "Verano"
    else:
        return "Otoño"

new_df["EstacionA"] = new_df["Mes"].apply(obtener_estacion)

In [17]:
new_df

     FE_OCURRENCIA  Frecuencia DiaSemana    Mes EstacionA
0       2014-07-05           1    Sábado  Julio     Otoño
1       2014-07-08           1    Martes  Julio     Otoño
2       2014-07-11           1   Viernes  Julio     Otoño
3       2014-07-12           1    Sábado  Julio     Otoño
4       2014-07-14           1     Lunes  Julio     Otoño
...            ...         ...       ...    ...       ...
3113    2023-06-30           2   Viernes  Junio     Otoño
3114    2023-07-01           3    Sábado  Julio     Otoño
3115    2023-07-02           2   Domingo  Julio     Otoño
3116    2023-07-03           4     Lunes  Julio     Otoño
3117    2023-07-04           4    Martes  Julio     Otoño

[3118 rows x 5 columns]

In [18]:
# Ordenar el DataFrame por la columna de fechas
new_df = new_df.sort_values(by="FE_OCURRENCIA")

# Calcular la diferencia en días entre accidentes consecutivos basados en la nueva frecuencia
new_df["Dias_Desde_Accidente_Anterior"] = new_df.groupby("FE_OCURRENCIA")["FE_OCURRENCIA"].diff().dt.days

# Llenar los valores faltantes con 0, ya que no hay accidente anterior en esos casos
new_df["Dias_Desde_Accidente_Anterior"].fillna(0, inplace=True)

In [19]:
new_df['Dias_Desde_Accidente_Anterior'].value_counts()

0.0    3118
Name: Dias_Desde_Accidente_Anterior, dtype: int64

In [24]:
# Custom function to convert time string to datetime
def custom_time_parser(time_str):
    if not time_str.strip():  # Check if the string is empty or contains only spaces
        return pd.NaT  # Return a missing value
    hour, minute = map(int, time_str.strip().split(":"))
    return pd.Timestamp(hour=hour, minute=minute)

In [21]:
# Convert the HORA_OCURRENCIA column to datetime using the custom parser
df_comb["HORA_OCURRENCIA"] = df_comb["HORA_OCURRENCIA"].apply(custom_time_parser)

new_df = df_comb.groupby("FE_OCURRENCIA")["HORA_OCURRENCIA"].mean().reset_index()

# Agregar una columna de hora promedio en formato de hora:minuto
new_df["HORA_OCURRENCIA_PRO"] = new_df["HORA_OCURRENCIA"].dt.strftime("%H:%M")

In [23]:
new_df

     FE_OCURRENCIA     HORA_OCURRENCIA HORA_OCURRENCIA_PRO
0       2014-07-05 1900-01-01 16:00:00               16:00
1       2014-07-08 1900-01-01 10:30:00               10:30
2       2014-07-11 1900-01-01 10:00:00               10:00
3       2014-07-12 1900-01-01 22:00:00               22:00
4       2014-07-14 1900-01-01 10:00:00               10:00
...            ...                 ...                 ...
3113    2023-06-30                 NaT                 NaN
3114    2023-07-01                 NaT                 NaN
3115    2023-07-02                 NaT                 NaN
3116    2023-07-03                 NaT                 NaN
3117    2023-07-04 1900-01-01 08:15:00               08:15

[3118 rows x 3 columns]

In [16]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3118 entries, 0 to 3117
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FE_OCURRENCIA  3118 non-null   datetime64[ns]
 1   Frecuencia     3118 non-null   int64
 2   DiaSemana      3118 non-null   object
 3   Mes            3118 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 97.6+ KB