In [1]:
import pandas as pd
import numpy as np

In [2]:
DATA_PATH = "../../../data"
df_hist_siniestros = pd.read_excel(DATA_PATH + '/raw/Historico de Siniestros.xlsx')
df_com_cart_clientes = pd.read_excel(DATA_PATH + '/raw/Composicion de Cartera de clientes de Auto.xlsx')
df_hist_autos = pd.read_excel(DATA_PATH + '/raw/Historico Auto y Caracteristicas de Vehiculo.xlsx')

In [3]:
df_hist_siniestros

,ID _ SINIESTRO,CD_PERSONAv2,FE_OCURRENCIA,Poliza Id v2,CD_PROVINCIA,CD_CIUDAD,DE_LUGAR_OCURRENCIA,NU_SINIESTRO_RELACIONADO,IN_FRAUDE,De_Causa_Siniestro,De_Causa_Detalle,DE_PROVINCIA,DE_CIUDAD,HORA_OCURRENCIA,RELACION_RECLAMANTE,EVENTO_CATASTROFICO
0,1,7668,2015-05-29,1,29.0,1.0,Siniestro reportado vía cover.,,0.0,Accidente/Choque,Choque Simple,Distrito Nacional,Santo Domingo,17:15,0,0
1,2,23643,2016-02-12,2,29.0,1.0,C/ MAYAGUEZ URB. VILLAS DUMIT,,0.0,Accidente/Choque,Choque con Objeto,,,,,
2,3,29730,2016-02-09,3,1.0,1.0,Barahora,,0.0,Responsabilidad Civil Personas o Cosas,Lesiones y/o Muerte Pasajero/Terceros/ Daños a...,,,,,
3,4,14301,2016-02-15,4,1.0,1.0,Arroyo Hondo II,,0.0,Robo o Hurto Accesorios/ Partes o Piezas,Robo Accesorio y/o Piezas,Distrito Nacional,Santo Domingo,16:30,0,0
4,5,24144,2016-02-03,5,1.0,1.0,Avenida Gustavo Mejia Ricart,,0.0,Accidente/Choque,Colision,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18701,18702,192804,2023-04-04,11379,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,0,,,,,
18702,18703,181905,2023-06-03,11470,1.0,1.0,LOS MULTIS LOS ALCARRIZOS,,0.0,Rotura de Vidrios y/o Parabrisas,0,,,,,
18703,18704,182109,2023-05-22,11471,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,0,,,,,
18704,18705,302838,2023-06-01,11472,1.0,1.0,CALLE CAMINO CHIQUITO,,0.0,Accidente/Choque,Choque Simple,,,,,
18705,18706,114156,2023-05-06,11311,13.0,1.0,HIGUEY PROXIMO AL COMERCIAL REYNALDO VILLA CER...,,0.0,Responsabilidad Civil Personas o Cosas,Daños a la Propiedad de Terceros,,,,,

In [4]:
df_hist_siniestros['DE_PROVINCIA'].unique()

array(['Distrito Nacional', ' ', 'Santiago', 'La Altagracia',
       'Santo Domingo', 'La Romana', 'La Vega', 'San Cristóbal', 'Duarte',
       'Puerto Plata', 'Montecristi', 'Sánchez Ramírez', 'Espaillat',
       'Monseñor Nouel', 'María Trinidad Sánchez', 'Valverde',
       'San Pedro de Macorís', 'Azua', 'Samaná', 0, 'Dajabón'],
      dtype=object)

In [5]:
df_hist_siniestros['NU_SINIESTRO_RELACIONADO'].isnull().sum()

0

In [6]:
df_hist_siniestros['CD_PROVINCIA'].unique()

array([29.,  1., 13., 22.,  6., 17., 15., 18.,  9., 21., 23., 27., 16.,
       32., 25.,  5., 28., 30., 19.,  2., nan, 24., 31., 14.,  4., 11.,
       10.,  3., 26.,  8.,  7.])

In [7]:
df_com_cart_clientes

,CD_PERSONA v2,TP_DOCUMENTO,CD_SEXO,CD_ESTADO_CIVIL,Rango de Edad,Tiempo desde registro (meses),IN_LISTA_NEGRA,CD_PAIS_NACIMIENTO,CD_NACIONALIDAD,IN_INACTIVO,...,CD_PROVINCIA_NACIMIENTO,DE_ACT_ECONOMICA_ADICIONAL,CD_SUCURSAL_ENVIO,De_Sector,De_Ocupacion,DE_ACTIVIDAD,DE_INGRESO_ANUAL,DE_PROFESION,DE_TIPO_PERSONA,DE_PROVINCIA
0,240,RNC,NaN,NaN,,108,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,Industrial,0,0,0,0,Juridica,0
1,267,RNC,NaN,NaN,,1476,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0
2,270,RNC,NaN,NaN,,1476,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0
3,279,RNC,NaN,NaN,,1476,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0
4,288,RNC,NaN,NaN,,1476,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,Juridica,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28481,308598,CED,M,S,7- Rango 66-75,1476,NaN,DOM,DOM,NaN,...,1.0,NaN,1.0,0,0,0,0,0,Natural,Distrito Nacional
28482,308604,CED,M,S,2- Rango 18-25,1476,NaN,DOM,DOM,NaN,...,17.0,NaN,1.0,0,0,0,0,0,Natural,Monseñor Nouel
28483,308610,CED,M,S,3- Rango 26-35,1476,NaN,DOM,DOM,NaN,...,13.0,NaN,3.0,0,"INMOBILIARIA, EMPLEADOS DE",0,0,"INMOBILIARIA, EMPLEADOS DE",Natural,La Altagracia
28484,308613,CED,F,C,4- Rango 36-45,1476,NaN,DOM,DOM,NaN,...,NaN,NaN,1.0,0,0,0,0,0,Natural,0
28485,308619,CED,M,S,5- Rango 46-55,1476,NaN,DOM,DOM,NaN,...,NaN,NaN,1.0,0,0,0,0,0,Natural,0

In [8]:
df_com_cart_clientes['TP_DOCUMENTO'].value_counts()

CED    24083
RNC     3368
PAS     1033
P          2
Name: TP_DOCUMENTO, dtype: int64

In [9]:
df_hist_autos

,CD_PERSONA v2,Poliza Id v2,TIPO_VEHICULO,Color,Marca,Modelo,Año,Tipo Transmision
0,240,11473,Jeeps y Vanette,Blanco,LEXUS,RX350,2014,Automatico
1,240,11474,Camion,Blanco,MITSUBISHI,FUSO,2007,Sincronico_Camión
2,267,11475,Camioneta,Blanco,ISUZU,D-MAX,2008,Automatico
3,267,11476,Jeeps y Vanette,Blanco,TOYOTA,LAND CRUISER,2002,Automatico
4,267,11477,Furgoneta,Blanco,SHINERAY,MINI TRUCK,2018,Furgoneta_Sincronico
...,...,...,...,...,...,...,...,...
55702,311349,55714,Automovil,Rojo,NISSAN,VERSA,2015,S - Automatico
55703,311391,55715,Automovil,Rojo,TOYOTA,COROLLA,2002,Automatico
55704,311403,55716,Jeeps y Vanette,Gris,JEEP,WRANGLER,2017,Sport 4x4 - Automatico
55705,311736,55717,Jeeps y Vanette,Blanco,TOYOTA,HIGHLANDER,2020,SE - Automatico
55706,311763,55718,Automovil,Rojo,TOYOTA,YARIS,2018,Base - Automatico

In [10]:
df_hist_siniestros.rename(columns={'CD_PERSONAv2': 'CD_PERSONA v2'}, inplace=True)

In [11]:
df_comb = df_hist_siniestros.merge(df_com_cart_clientes, on="CD_PERSONA v2", how="left")

In [12]:
df_comb = df_comb.merge(df_hist_autos, on="Poliza Id v2", how="left")

In [13]:
df_comb

,ID _ SINIESTRO,CD_PERSONA v2_x,FE_OCURRENCIA,Poliza Id v2,CD_PROVINCIA,CD_CIUDAD,DE_LUGAR_OCURRENCIA,NU_SINIESTRO_RELACIONADO,IN_FRAUDE,De_Causa_Siniestro,...,DE_PROFESION,DE_TIPO_PERSONA,DE_PROVINCIA_y,CD_PERSONA v2_y,TIPO_VEHICULO,Color,Marca,Modelo,Año,Tipo Transmision
0,1,7668,2015-05-29,1,29.0,1.0,Siniestro reportado vía cover.,,0.0,Accidente/Choque,...,0,Juridica,0,7668.0,Automovil,Blanco,TOYOTA,CAMRY,2001.0,CE - Automatico
1,2,23643,2016-02-12,2,29.0,1.0,C/ MAYAGUEZ URB. VILLAS DUMIT,,0.0,Accidente/Choque,...,0,Natural,0,23643.0,Jeeps y Vanette,Rojo,KIA,SPORTAGE,2015.0,4x4 - Automatico
2,3,29730,2016-02-09,3,1.0,1.0,Barahora,,0.0,Responsabilidad Civil Personas o Cosas,...,0,Natural,0,29730.0,Camiones cama,Blanco,DAIHATSU,DELTA,2007.0,Sincronico
3,4,14301,2016-02-15,4,1.0,1.0,Arroyo Hondo II,,0.0,Robo o Hurto Accesorios/ Partes o Piezas,...,NaN,NaN,NaN,41469.0,Jeeps y Vanette,Gris,KIA,SPORTAGE,2012.0,Base 4x4 - Automatico
4,5,24144,2016-02-03,5,1.0,1.0,Avenida Gustavo Mejia Ricart,,0.0,Accidente/Choque,...,0,Juridica,0,24144.0,Jeeps y Vanette,Blanco,TOYOTA,PRADO,2013.0,%Sincronico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18701,18702,192804,2023-04-04,11379,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,...,0,Juridica,0,192804.0,Jeeps y Vanette,Blanco,JEEP,WRANGLER,2023.0,Renegade 4x4 - Automatico
18702,18703,181905,2023-06-03,11470,1.0,1.0,LOS MULTIS LOS ALCARRIZOS,,0.0,Rotura de Vidrios y/o Parabrisas,...,INGENIERO CIVIL,Natural,Elías Piña,181905.0,Camioneta,Blanco,ISUZU,D-MAX,2015.0,Automatico
18703,18704,182109,2023-05-22,11471,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,...,0,Natural,0,182109.0,Jeeps y Vanette,Azul,HYUNDAI,TUCSON,2014.0,GL - Automatico
18704,18705,302838,2023-06-01,11472,1.0,1.0,CALLE CAMINO CHIQUITO,,0.0,Accidente/Choque,...,0,Natural,Distrito Nacional,302838.0,Camioneta,Gris,TOYOTA,HILUX,2023.0,Cabina Sencilla Pick-Up 4x4 - Sincronico
18705,18706,114156,2023-05-06,11311,13.0,1.0,HIGUEY PROXIMO AL COMERCIAL REYNALDO VILLA CER...,,0.0,Responsabilidad Civil Personas o Cosas,...,0,Natural,0,114156.0,Jeeps y Vanette,Gris,LEXUS,RX,2004.0,330 - Automatico

In [14]:
df_comb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18706 entries, 0 to 18705
Data columns (total 44 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID _ SINIESTRO                 18706 non-null  int64
 1   CD_PERSONA v2_x                18706 non-null  int64
 2   FE_OCURRENCIA                  18706 non-null  datetime64[ns]
 3   Poliza Id v2                   18706 non-null  int64
 4   CD_PROVINCIA                   18705 non-null  float64
 5   CD_CIUDAD                      18705 non-null  float64
 6   DE_LUGAR_OCURRENCIA            18495 non-null  object
 7   NU_SINIESTRO_RELACIONADO       18706 non-null  object
 8   IN_FRAUDE                      18070 non-null  float64
 9   De_Causa_Siniestro             18706 non-null  object
 10  De_Causa_Detalle               18706 non-null  object
 11  DE_PROVINCIA_x                 18706 non-null  object
 12  DE_CIUDAD                      18706 non-null  object
 13  HORA_OCURRENCIA                18706 non-null  object
 14  RELACION_RECLAMANTE            18706 non-null  object
 15  EVENTO_CATASTROFICO            18706 non-null  object
 16  TP_DOCUMENTO                   18507 non-null  object
 17  CD_SEXO                        12720 non-null  object
 18  CD_ESTADO_CIVIL                12720 non-null  object
 19  Rango de Edad                  18507 non-null  object
 20  Tiempo desde registro (meses)  18507 non-null  float64
 21  IN_LISTA_NEGRA                 149 non-null    float64
 22  CD_PAIS_NACIMIENTO             13145 non-null  object
 23  CD_NACIONALIDAD                14372 non-null  object
 24  IN_INACTIVO                    2 non-null      float64
 25  FE_INACTIVO                    2 non-null      datetime64[ns]
 26  IN_VIP                         10122 non-null  float64
 27  CD_PROVINCIA_NACIMIENTO        2897 non-null   float64
 28  DE_ACT_ECONOMICA_ADICIONAL     213 non-null    object
 29  CD_SUCURSAL_ENVIO              7369 non-null   float64
 30  De_Sector                      18504 non-null  object
 31  De_Ocupacion                   18504 non-null  object
 32  DE_ACTIVIDAD                   18504 non-null  object
 33  DE_INGRESO_ANUAL               18504 non-null  object
 34  DE_PROFESION                   18504 non-null  object
 35  DE_TIPO_PERSONA                18504 non-null  object
 36  DE_PROVINCIA_y                 18504 non-null  object
 37  CD_PERSONA v2_y                18690 non-null  float64
 38  TIPO_VEHICULO                  18690 non-null  object
 39  Color                          18690 non-null  object
 40  Marca                          18690 non-null  object
 41  Modelo                         18690 non-null  object
 42  Año                            18690 non-null  float64
 43  Tipo Transmision               18684 non-null  object
dtypes: datetime64[ns](2), float64(11), int64(3), object(28)
memory usage: 6.4+ MB

In [15]:
df_comb['TP_DOCUMENTO'] = df_comb['TP_DOCUMENTO'].apply(lambda x: 'CED' if pd.isna(x) or x == 'P' else x)

In [16]:
# Eliminar las filas donde 'TP_DOCUMENTO' sea igual a 'RNC'
# df_comb = df_comb[df_comb['TP_DOCUMENTO'] != 'RNC']

In [17]:
df_comb

,ID _ SINIESTRO,CD_PERSONA v2_x,FE_OCURRENCIA,Poliza Id v2,CD_PROVINCIA,CD_CIUDAD,DE_LUGAR_OCURRENCIA,NU_SINIESTRO_RELACIONADO,IN_FRAUDE,De_Causa_Siniestro,...,DE_PROFESION,DE_TIPO_PERSONA,DE_PROVINCIA_y,CD_PERSONA v2_y,TIPO_VEHICULO,Color,Marca,Modelo,Año,Tipo Transmision
0,1,7668,2015-05-29,1,29.0,1.0,Siniestro reportado vía cover.,,0.0,Accidente/Choque,...,0,Juridica,0,7668.0,Automovil,Blanco,TOYOTA,CAMRY,2001.0,CE - Automatico
1,2,23643,2016-02-12,2,29.0,1.0,C/ MAYAGUEZ URB. VILLAS DUMIT,,0.0,Accidente/Choque,...,0,Natural,0,23643.0,Jeeps y Vanette,Rojo,KIA,SPORTAGE,2015.0,4x4 - Automatico
2,3,29730,2016-02-09,3,1.0,1.0,Barahora,,0.0,Responsabilidad Civil Personas o Cosas,...,0,Natural,0,29730.0,Camiones cama,Blanco,DAIHATSU,DELTA,2007.0,Sincronico
3,4,14301,2016-02-15,4,1.0,1.0,Arroyo Hondo II,,0.0,Robo o Hurto Accesorios/ Partes o Piezas,...,NaN,NaN,NaN,41469.0,Jeeps y Vanette,Gris,KIA,SPORTAGE,2012.0,Base 4x4 - Automatico
4,5,24144,2016-02-03,5,1.0,1.0,Avenida Gustavo Mejia Ricart,,0.0,Accidente/Choque,...,0,Juridica,0,24144.0,Jeeps y Vanette,Blanco,TOYOTA,PRADO,2013.0,%Sincronico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18701,18702,192804,2023-04-04,11379,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,...,0,Juridica,0,192804.0,Jeeps y Vanette,Blanco,JEEP,WRANGLER,2023.0,Renegade 4x4 - Automatico
18702,18703,181905,2023-06-03,11470,1.0,1.0,LOS MULTIS LOS ALCARRIZOS,,0.0,Rotura de Vidrios y/o Parabrisas,...,INGENIERO CIVIL,Natural,Elías Piña,181905.0,Camioneta,Blanco,ISUZU,D-MAX,2015.0,Automatico
18703,18704,182109,2023-05-22,11471,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,...,0,Natural,0,182109.0,Jeeps y Vanette,Azul,HYUNDAI,TUCSON,2014.0,GL - Automatico
18704,18705,302838,2023-06-01,11472,1.0,1.0,CALLE CAMINO CHIQUITO,,0.0,Accidente/Choque,...,0,Natural,Distrito Nacional,302838.0,Camioneta,Gris,TOYOTA,HILUX,2023.0,Cabina Sencilla Pick-Up 4x4 - Sincronico
18705,18706,114156,2023-05-06,11311,13.0,1.0,HIGUEY PROXIMO AL COMERCIAL REYNALDO VILLA CER...,,0.0,Responsabilidad Civil Personas o Cosas,...,0,Natural,0,114156.0,Jeeps y Vanette,Gris,LEXUS,RX,2004.0,330 - Automatico

In [18]:
# Agrupar por fecha y calcular la frecuencia de accidentes por día
f_accidentes = df_comb.groupby("FE_OCURRENCIA").size().reset_index(name="FRECUENCIA")

In [19]:
f_accidentes

     FE_OCURRENCIA  FRECUENCIA
0       2014-07-05           1
1       2014-07-08           1
2       2014-07-11           1
3       2014-07-12           1
4       2014-07-14           1
...            ...         ...
3113    2023-06-30           2
3114    2023-07-01           3
3115    2023-07-02           2
3116    2023-07-03           4
3117    2023-07-04           4

[3118 rows x 2 columns]

In [20]:
# Custom function to convert time string to datetime
def custom_time_parser(time_str):
    if not time_str.strip():  # Check if the string is empty or contains only spaces
        return pd.NaT  # Return a missing value
    hour, minute = map(int, time_str.strip().split(":"))
    return pd.Timestamp(year=1800, month=1, day=1, hour=hour, minute=minute)

In [21]:
df_comb['HORA_OCURRENCIA']

0        17:15
1
2
3        16:30
4
         ...
18701
18702
18703
18704
18705
Name: HORA_OCURRENCIA, Length: 18706, dtype: object

In [22]:
# Convert the HORA_OCURRENCIA column to datetime using the custom parser
df_comb["HORA_OCURRENCIA"] = df_comb["HORA_OCURRENCIA"].apply(custom_time_parser)

In [23]:
df_comb["HORA_OCURRENCIA"]

0       1800-01-01 17:15:00
1                       NaT
2                       NaT
3       1800-01-01 16:30:00
4                       NaT
                ...
18701                   NaT
18702                   NaT
18703                   NaT
18704                   NaT
18705                   NaT
Name: HORA_OCURRENCIA, Length: 18706, dtype: datetime64[ns]

In [24]:
df_comb["HORA_OCURRENCIA"]
hora_ocurrencia_pro = df_comb.groupby("FE_OCURRENCIA")["HORA_OCURRENCIA"].mean().reset_index()

hora_ocurrencia_pro = df_comb.groupby("FE_OCURRENCIA")["HORA_OCURRENCIA"].mean().reset_index()

hora_ocurrencia_pro['HORA_OCURRENCIA'] = hora_ocurrencia_pro['HORA_OCURRENCIA'].apply(lambda x: hora_ocurrencia_pro['HORA_OCURRENCIA'].mean() if pd.isna(x) else x)

hora_ocurrencia_pro['HORA_OCURRENCIA'] = hora_ocurrencia_pro['HORA_OCURRENCIA'].dt.strftime("%H:%M")

In [25]:
hora_ocurrencia_pro

     FE_OCURRENCIA HORA_OCURRENCIA
0       2014-07-05           16:00
1       2014-07-08           10:30
2       2014-07-11           10:00
3       2014-07-12           22:00
4       2014-07-14           10:00
...            ...             ...
3113    2023-06-30           12:54
3114    2023-07-01           12:54
3115    2023-07-02           12:54
3116    2023-07-03           12:54
3117    2023-07-04           08:15

[3118 rows x 2 columns]

In [26]:
codigo_a_provincia = {
    "01": "Distrito Nacional",
    "02": "Azua",
    "03": "Bahoruco",
    "04": "Barahona",
    "05": "Dajabón",
    "06": "Duarte",
    "07": "Elías Piña",
    "08": "El Seibo",
    "09": "Espaillat",
    "10": "Independencia",
    "11": "La Altagracia",
    "12": "La Romana",
    "13": "La Vega",
    "14": "María Trinidad Sánchez",
    "15": "Monte Cristi",
    "16": "Pedernales",
    "17": "Peravia",
    "18": "Puerto Plata",
    "19": "Hermanas Mirabal",
    "20": "Samaná",
    "21": "San Cristóbal",
    "22": "San Juan",
    "23": "San Pedro de Macorís",
    "24": "Sánchez Ramírez",
    "25": "Santiago",
    "26": "Santiago Rodríguez",
    "27": "Valverde",
    "28": "Monseñor Nouel",
    "29": "Monte Plata",
    "30": "Hato Mayor",
    "31": "San José de Ocoa",
    "32": "Santo Domingo"
}

In [27]:
df_comb['DE_PROVINCIA_x']

0        Distrito Nacional
1
2
3        Distrito Nacional
4
               ...
18701
18702
18703
18704
18705
Name: DE_PROVINCIA_x, Length: 18706, dtype: object

In [28]:
df_comb["Provincia_ID"] = df_comb["DE_PROVINCIA_x"].map({nombre: codigo for codigo, nombre in codigo_a_provincia.items()})

# Obtener la moda de la columna "DE_PROVINCIA"
moda_provincia = df_comb["Provincia_ID"].mode()[0]

# Rellenar las provincias no encontradas en el diccionario con la moda
df_comb["Provincia_ID"] = df_comb["Provincia_ID"].fillna(moda_provincia)

In [29]:
moda_provincia

'01'

In [30]:
# moda_provincia
df_comb['Provincia_ID']

0        01
1        01
2        01
3        01
4        01
         ..
18701    01
18702    01
18703    01
18704    01
18705    01
Name: Provincia_ID, Length: 18706, dtype: object

In [31]:
# moda_provincia_siniestro = df_comb.groupby("FE_OCURRENCIA").mode().reset_index(name="Moda_Provincia")
moda_provincia_siniestro = df_comb.groupby("FE_OCURRENCIA")["Provincia_ID"].apply(lambda x: x.mode().iloc[0]).reset_index(name="CO_PROVINCIA")

In [32]:
moda_provincia_siniestro

     FE_OCURRENCIA CO_PROVINCIA
0       2014-07-05           01
1       2014-07-08           01
2       2014-07-11           01
3       2014-07-12           01
4       2014-07-14           01
...            ...          ...
3113    2023-06-30           01
3114    2023-07-01           01
3115    2023-07-02           01
3116    2023-07-03           01
3117    2023-07-04           01

[3118 rows x 2 columns]

In [33]:
# df_comb['TP_DOCUMENTO'] = df_comb['TP_DOCUMENTO'].apply(lambda x: 'CED' if pd.isna(x) or x == 'P' else x)

In [34]:
# df_comb['TP_DOCUMENTO'].value_counts()

In [35]:
# # Eliminar las filas donde 'TP_DOCUMENTO' sea igual a 'RNC'
# df_comb = df_comb[df_comb['TP_DOCUMENTO'] != 'RNC']

In [36]:
df_comb

,ID _ SINIESTRO,CD_PERSONA v2_x,FE_OCURRENCIA,Poliza Id v2,CD_PROVINCIA,CD_CIUDAD,DE_LUGAR_OCURRENCIA,NU_SINIESTRO_RELACIONADO,IN_FRAUDE,De_Causa_Siniestro,...,DE_TIPO_PERSONA,DE_PROVINCIA_y,CD_PERSONA v2_y,TIPO_VEHICULO,Color,Marca,Modelo,Año,Tipo Transmision,Provincia_ID
0,1,7668,2015-05-29,1,29.0,1.0,Siniestro reportado vía cover.,,0.0,Accidente/Choque,...,Juridica,0,7668.0,Automovil,Blanco,TOYOTA,CAMRY,2001.0,CE - Automatico,01
1,2,23643,2016-02-12,2,29.0,1.0,C/ MAYAGUEZ URB. VILLAS DUMIT,,0.0,Accidente/Choque,...,Natural,0,23643.0,Jeeps y Vanette,Rojo,KIA,SPORTAGE,2015.0,4x4 - Automatico,01
2,3,29730,2016-02-09,3,1.0,1.0,Barahora,,0.0,Responsabilidad Civil Personas o Cosas,...,Natural,0,29730.0,Camiones cama,Blanco,DAIHATSU,DELTA,2007.0,Sincronico,01
3,4,14301,2016-02-15,4,1.0,1.0,Arroyo Hondo II,,0.0,Robo o Hurto Accesorios/ Partes o Piezas,...,NaN,NaN,41469.0,Jeeps y Vanette,Gris,KIA,SPORTAGE,2012.0,Base 4x4 - Automatico,01
4,5,24144,2016-02-03,5,1.0,1.0,Avenida Gustavo Mejia Ricart,,0.0,Accidente/Choque,...,Juridica,0,24144.0,Jeeps y Vanette,Blanco,TOYOTA,PRADO,2013.0,%Sincronico,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18701,18702,192804,2023-04-04,11379,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,...,Juridica,0,192804.0,Jeeps y Vanette,Blanco,JEEP,WRANGLER,2023.0,Renegade 4x4 - Automatico,01
18702,18703,181905,2023-06-03,11470,1.0,1.0,LOS MULTIS LOS ALCARRIZOS,,0.0,Rotura de Vidrios y/o Parabrisas,...,Natural,Elías Piña,181905.0,Camioneta,Blanco,ISUZU,D-MAX,2015.0,Automatico,01
18703,18704,182109,2023-05-22,11471,1.0,1.0,AUTOPISTA DUARTE,,0.0,Rotura de Vidrios y/o Parabrisas,...,Natural,0,182109.0,Jeeps y Vanette,Azul,HYUNDAI,TUCSON,2014.0,GL - Automatico,01
18704,18705,302838,2023-06-01,11472,1.0,1.0,CALLE CAMINO CHIQUITO,,0.0,Accidente/Choque,...,Natural,Distrito Nacional,302838.0,Camioneta,Gris,TOYOTA,HILUX,2023.0,Cabina Sencilla Pick-Up 4x4 - Sincronico,01
18705,18706,114156,2023-05-06,11311,13.0,1.0,HIGUEY PROXIMO AL COMERCIAL REYNALDO VILLA CER...,,0.0,Responsabilidad Civil Personas o Cosas,...,Natural,0,114156.0,Jeeps y Vanette,Gris,LEXUS,RX,2004.0,330 - Automatico,01

In [37]:
#Saber si es extranjero o no
df_comb['EXTRANJERO'] = df_comb['TP_DOCUMENTO'].apply(lambda x: 1 if x == 'PAS' else 0)

In [38]:
df_comb['EXTRANJERO'].value_counts()

0    18362
1      344
Name: EXTRANJERO, dtype: int64

In [39]:
# moda_es_extranjero = df_comb.groupby("FE_OCURRENCIA").size().reset_index(name="Moda_Es_Extranjero")
moda_es_extranjero = df_comb.groupby("FE_OCURRENCIA")["EXTRANJERO"].apply(lambda x: x.mode().iloc[0]).reset_index(name="EXTRANJERO")

In [40]:
moda_es_extranjero

     FE_OCURRENCIA  EXTRANJERO
0       2014-07-05           0
1       2014-07-08           0
2       2014-07-11           0
3       2014-07-12           0
4       2014-07-14           0
...            ...         ...
3113    2023-06-30           0
3114    2023-07-01           0
3115    2023-07-02           0
3116    2023-07-03           0
3117    2023-07-04           0

[3118 rows x 2 columns]

In [41]:
moda_es_extranjero['EXTRANJERO'].value_counts()

0    3117
1       1
Name: EXTRANJERO, dtype: int64

In [42]:
df_comb['TIPO_VEHICULO'].value_counts()

Jeeps y Vanette                   9418
Automovil                         5381
Camioneta                         1743
Furgoneta                          590
Camiones cama                      504
Camion                             335
Cabezotes, Patanas y Tractores     282
Minibus                            260
Autobus                            120
Maquinaria Pesada                   37
Volqueta                            11
Motocicleta                          5
Remolque                             2
Grua                                 1
Otros Tipos                          1
Name: TIPO_VEHICULO, dtype: int64

In [43]:
mapeo_categorias = {
    "Jeeps y Vanette": 2,  # Automóviles y jeepetas
    "Automovil": 2,        # Automóviles y jeepetas
    "Camioneta": 3,        # Minibuses y camionetas
    "Camiones cama": 5,    # Camiones pesados y extra pesados
    "Furgoneta": 3,        # Minibuses y camionetas
    "Minibus": 3,          # Minibuses y camionetas
    "Camion": 4,           # Camiones medianos
    "Cabezotes, Patanas y Tractores": 5,  # Camiones pesados y extra pesados
    "Autobus": 6           # Ómnibus y autobuses
}

# Crear una nueva columna 'Categoria_Licencia' basada en el mapeo
df_comb["CAT_VEHICULO"] = df_comb["TIPO_VEHICULO"].map(mapeo_categorias)
df_comb["CAT_VEHICULO"].fillna(2, inplace=True)

In [44]:
df_comb["CAT_VEHICULO"].unique()

array([2., 5., 3., 6., 4.])

In [45]:
moda_c_vehiculo = df_comb.groupby("FE_OCURRENCIA")["CAT_VEHICULO"].apply(lambda x: x.mode().iloc[0]).reset_index(name="CAT_VEHICULO")

In [46]:
moda_c_vehiculo

     FE_OCURRENCIA  CAT_VEHICULO
0       2014-07-05           3.0
1       2014-07-08           2.0
2       2014-07-11           4.0
3       2014-07-12           2.0
4       2014-07-14           5.0
...            ...           ...
3113    2023-06-30           2.0
3114    2023-07-01           2.0
3115    2023-07-02           2.0
3116    2023-07-03           2.0
3117    2023-07-04           2.0

[3118 rows x 2 columns]

In [47]:
new_df = f_accidentes.merge(hora_ocurrencia_pro, on="FE_OCURRENCIA")
new_df = new_df.merge(moda_provincia_siniestro, on="FE_OCURRENCIA")
new_df = new_df.merge(moda_es_extranjero, on="FE_OCURRENCIA")
new_df = new_df.merge(moda_c_vehiculo, on="FE_OCURRENCIA")

In [48]:
# Agregar columna de mes (1: Enero, 12: Diciembre)
new_df["MES"] = new_df["FE_OCURRENCIA"].dt.month

# Agregar columna de día de la semana (0: Lunes, 6: Domingo)
new_df["DIA_SEMANA"] = new_df["FE_OCURRENCIA"].dt.dayofweek

# Mapear los valores numéricos de día de la semana a nombres
dias_semana_nombres = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]
new_df["DIA_SEMANA"] = new_df["DIA_SEMANA"].map(lambda x: dias_semana_nombres[x])

# Mapear los valores numéricos de mes a nombres
meses_nombres = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
new_df["MES"] = new_df["MES"].map(lambda x: meses_nombres[x - 1])

In [49]:
new_df

,FE_OCURRENCIA,FRECUENCIA,HORA_OCURRENCIA,CO_PROVINCIA,EXTRANJERO,CAT_VEHICULO,MES,DIA_SEMANA
0,2014-07-05,1,16:00,01,0,3.0,Julio,Sábado
1,2014-07-08,1,10:30,01,0,2.0,Julio,Martes
2,2014-07-11,1,10:00,01,0,4.0,Julio,Viernes
3,2014-07-12,1,22:00,01,0,2.0,Julio,Sábado
4,2014-07-14,1,10:00,01,0,5.0,Julio,Lunes
...,...,...,...,...,...,...,...,...
3113,2023-06-30,2,12:54,01,0,2.0,Junio,Viernes
3114,2023-07-01,3,12:54,01,0,2.0,Julio,Sábado
3115,2023-07-02,2,12:54,01,0,2.0,Julio,Domingo
3116,2023-07-03,4,12:54,01,0,2.0,Julio,Lunes
3117,2023-07-04,4,08:15,01,0,2.0,Julio,Martes

In [50]:
# Agregar columna de estación del año
def obtener_estacion(mes):
    if mes in ['Diciembre', 'Enero', 'Febrero']:
        return "Invierno"
    elif mes in ["Marzo", "Abril", "Mayo"]:
        return "Primavera"
    elif mes in ["Junio", "Julio", "Agosto"]:
        return "Verano"
    else:
        return "Otoño"

new_df["ESTACION_A"] = new_df["MES"].apply(obtener_estacion)

In [51]:
new_df

,FE_OCURRENCIA,FRECUENCIA,HORA_OCURRENCIA,CO_PROVINCIA,EXTRANJERO,CAT_VEHICULO,MES,DIA_SEMANA,ESTACION_A
0,2014-07-05,1,16:00,01,0,3.0,Julio,Sábado,Verano
1,2014-07-08,1,10:30,01,0,2.0,Julio,Martes,Verano
2,2014-07-11,1,10:00,01,0,4.0,Julio,Viernes,Verano
3,2014-07-12,1,22:00,01,0,2.0,Julio,Sábado,Verano
4,2014-07-14,1,10:00,01,0,5.0,Julio,Lunes,Verano
...,...,...,...,...,...,...,...,...,...
3113,2023-06-30,2,12:54,01,0,2.0,Junio,Viernes,Verano
3114,2023-07-01,3,12:54,01,0,2.0,Julio,Sábado,Verano
3115,2023-07-02,2,12:54,01,0,2.0,Julio,Domingo,Verano
3116,2023-07-03,4,12:54,01,0,2.0,Julio,Lunes,Verano
3117,2023-07-04,4,08:15,01,0,2.0,Julio,Martes,Verano

In [52]:
new_df['HORA_OCURRENCIA']

0       16:00
1       10:30
2       10:00
3       22:00
4       10:00
        ...
3113    12:54
3114    12:54
3115    12:54
3116    12:54
3117    08:15
Name: HORA_OCURRENCIA, Length: 3118, dtype: object

In [53]:
# # Ordenar el DataFrame por la columna de fechas
# new_df = new_df.sort_values(by="FE_OCURRENCIA")
#
# # Calcular la diferencia en días entre accidentes consecutivos basados en la nueva frecuencia
# new_df["D_A_ANTERIOR"] = new_df["FE_OCURRENCIA"].diff().dt.days
#
# # Llenar los valores faltantes con 0, ya que no hay accidente anterior en esos casos
# new_df["D_A_ANTERIOR"].fillna(0, inplace=True)

In [54]:
new_df

,FE_OCURRENCIA,FRECUENCIA,HORA_OCURRENCIA,CO_PROVINCIA,EXTRANJERO,CAT_VEHICULO,MES,DIA_SEMANA,ESTACION_A
0,2014-07-05,1,16:00,01,0,3.0,Julio,Sábado,Verano
1,2014-07-08,1,10:30,01,0,2.0,Julio,Martes,Verano
2,2014-07-11,1,10:00,01,0,4.0,Julio,Viernes,Verano
3,2014-07-12,1,22:00,01,0,2.0,Julio,Sábado,Verano
4,2014-07-14,1,10:00,01,0,5.0,Julio,Lunes,Verano
...,...,...,...,...,...,...,...,...,...
3113,2023-06-30,2,12:54,01,0,2.0,Junio,Viernes,Verano
3114,2023-07-01,3,12:54,01,0,2.0,Julio,Sábado,Verano
3115,2023-07-02,2,12:54,01,0,2.0,Julio,Domingo,Verano
3116,2023-07-03,4,12:54,01,0,2.0,Julio,Lunes,Verano
3117,2023-07-04,4,08:15,01,0,2.0,Julio,Martes,Verano

In [55]:
# # Calcular la diferencia en horas entre accidentes consecutivos basados en la nueva frecuencia
# new_df["Horas_Desde_Accidente_Anterior"] = new_df.groupby("FE_OCURRENCIA")["HORA_OCURRENCIA_PRO"].diff()
#
# # new_df['Horas_Desde_Accidente_Anterior"'] = new_df['Horas_Desde_Accidente_Anterior"'].apply(lambda x: x.seconds // 3600)
#
# new_df['Horas_Desde_Accidente_Anterior']
# # # Llenar los valores faltantes con 0, ya que no hay accidente anterior en esos casos
# # new_df["Dias_Desde_Accidente_Anterior"].fillna(0, inplace=True)

In [56]:
import requests

country_code = "DO"  # Código de país para la República Dominicana
years = range(2014, 2024)  # Años del 2014 al 2023

# Definir la URL base de la API
base_url = "https://date.nager.at/api/v3/publicholidays/"

# Diccionario para almacenar los días festivos por año
holidays_by_year = {}

# Iterar a través de los años
for year in years:
    # Construir la URL para el año y país correspondiente
    url = base_url + str(year) + "/" + country_code

    # Realizar la solicitud GET a la API
    response = requests.get(url)

    # Analizar la respuesta JSON
    data = response.json()

    # Almacenar los días festivos en el diccionario
    holidays_by_year[year] = data

# # Imprimir el diccionario
# for year, holidays in holidays_by_year.items():
#     print(f"Año {year}:")
#     for holiday in holidays:
#         print(f"  - {holiday['date']}: {holiday['name']}")

In [57]:
holidays_by_year[2023]

[{'date': '2023-01-01',
  'localName': "New Year's Day",
  'name': "New Year's Day",
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-01-06',
  'localName': 'Dia de Reyes',
  'name': 'Day of Kings',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-01-21',
  'localName': 'Our Lady of Altagracia',
  'name': 'Our Lady of Altagracia',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-01-26',
  'localName': "Duarte's Birthday",
  'name': "Duarte's Birthday",
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-02-27',
  'localName': 'Independence Day',
  'name': 'Independence Day',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-04-07',
  'localName': 'Good Friday',
  'name': 'Good Friday',
  'countryCode': 'DO',
  'fixed': False,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-05-01',
  'localName': 'Labour Day',
  'name': 'Labour Day',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-05-28',
  'localName': "Mother's Day",
  'name': "Mother's Day",
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-06-08',
  'localName': 'Corpus Christi',
  'name': 'Corpus Christi',
  'countryCode': 'DO',
  'fixed': False,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-08-16',
  'localName': 'Restoration Day',
  'name': 'Restoration Day',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-09-24',
  'localName': 'Nuestra Senora de las Mercedes',
  'name': 'Our Lady of Mercy',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-11-06',
  'localName': 'Constitution Day',
  'name': 'Constitution Day',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-12-25',
  'localName': 'Christmas Day',
  'name': 'Christmas Day',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']}]

In [58]:
new_df

,FE_OCURRENCIA,FRECUENCIA,HORA_OCURRENCIA,CO_PROVINCIA,EXTRANJERO,CAT_VEHICULO,MES,DIA_SEMANA,ESTACION_A
0,2014-07-05,1,16:00,01,0,3.0,Julio,Sábado,Verano
1,2014-07-08,1,10:30,01,0,2.0,Julio,Martes,Verano
2,2014-07-11,1,10:00,01,0,4.0,Julio,Viernes,Verano
3,2014-07-12,1,22:00,01,0,2.0,Julio,Sábado,Verano
4,2014-07-14,1,10:00,01,0,5.0,Julio,Lunes,Verano
...,...,...,...,...,...,...,...,...,...
3113,2023-06-30,2,12:54,01,0,2.0,Junio,Viernes,Verano
3114,2023-07-01,3,12:54,01,0,2.0,Julio,Sábado,Verano
3115,2023-07-02,2,12:54,01,0,2.0,Julio,Domingo,Verano
3116,2023-07-03,4,12:54,01,0,2.0,Julio,Lunes,Verano
3117,2023-07-04,4,08:15,01,0,2.0,Julio,Martes,Verano

In [59]:
holidays_by_year[2023]

[{'date': '2023-01-01',
  'localName': "New Year's Day",
  'name': "New Year's Day",
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-01-06',
  'localName': 'Dia de Reyes',
  'name': 'Day of Kings',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-01-21',
  'localName': 'Our Lady of Altagracia',
  'name': 'Our Lady of Altagracia',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-01-26',
  'localName': "Duarte's Birthday",
  'name': "Duarte's Birthday",
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-02-27',
  'localName': 'Independence Day',
  'name': 'Independence Day',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-04-07',
  'localName': 'Good Friday',
  'name': 'Good Friday',
  'countryCode': 'DO',
  'fixed': False,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-05-01',
  'localName': 'Labour Day',
  'name': 'Labour Day',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-05-28',
  'localName': "Mother's Day",
  'name': "Mother's Day",
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-06-08',
  'localName': 'Corpus Christi',
  'name': 'Corpus Christi',
  'countryCode': 'DO',
  'fixed': False,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-08-16',
  'localName': 'Restoration Day',
  'name': 'Restoration Day',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-09-24',
  'localName': 'Nuestra Senora de las Mercedes',
  'name': 'Our Lady of Mercy',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-11-06',
  'localName': 'Constitution Day',
  'name': 'Constitution Day',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']},
 {'date': '2023-12-25',
  'localName': 'Christmas Day',
  'name': 'Christmas Day',
  'countryCode': 'DO',
  'fixed': True,
  'global': True,
  'counties': None,
  'launchYear': None,
  'types': ['Public']}]

In [60]:
# Asegurarse de que la columna "FE_OCURRENCIA" esté en formato de fecha
new_df["FE_OCURRENCIA"] = pd.to_datetime(new_df["FE_OCURRENCIA"])

# Iterar a través de los elementos del DataFrame
for index, row in new_df.iterrows():
    fecha = row["FE_OCURRENCIA"]
    year = fecha.year

    # Verificar si el año tiene días festivos en el diccionario holidays_by_year
    if year in holidays_by_year:
        holidays = holidays_by_year[year]

        # Verificar si la fecha está en la lista de días festivos para ese año
        is_holiday = any(holiday["date"] == fecha.strftime("%Y-%m-%d") for holiday in holidays)
        new_df.at[index, "FERIADO"] = is_holiday
    else:
        new_df.at[index, "FERIADO"] = False

In [61]:
new_df

,FE_OCURRENCIA,FRECUENCIA,HORA_OCURRENCIA,CO_PROVINCIA,EXTRANJERO,CAT_VEHICULO,MES,DIA_SEMANA,ESTACION_A,FERIADO
0,2014-07-05,1,16:00,01,0,3.0,Julio,Sábado,Verano,False
1,2014-07-08,1,10:30,01,0,2.0,Julio,Martes,Verano,False
2,2014-07-11,1,10:00,01,0,4.0,Julio,Viernes,Verano,False
3,2014-07-12,1,22:00,01,0,2.0,Julio,Sábado,Verano,False
4,2014-07-14,1,10:00,01,0,5.0,Julio,Lunes,Verano,False
...,...,...,...,...,...,...,...,...,...,...
3113,2023-06-30,2,12:54,01,0,2.0,Junio,Viernes,Verano,False
3114,2023-07-01,3,12:54,01,0,2.0,Julio,Sábado,Verano,False
3115,2023-07-02,2,12:54,01,0,2.0,Julio,Domingo,Verano,False
3116,2023-07-03,4,12:54,01,0,2.0,Julio,Lunes,Verano,False
3117,2023-07-04,4,08:15,01,0,2.0,Julio,Martes,Verano,False

In [62]:
new_df['FERIADO'].value_counts()

False    3009
True      109
Name: FERIADO, dtype: int64

In [63]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3118 entries, 0 to 3117
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FE_OCURRENCIA    3118 non-null   datetime64[ns]
 1   FRECUENCIA       3118 non-null   int64
 2   HORA_OCURRENCIA  3118 non-null   object
 3   CO_PROVINCIA     3118 non-null   object
 4   EXTRANJERO       3118 non-null   int64
 5   CAT_VEHICULO     3118 non-null   float64
 6   MES              3118 non-null   object
 7   DIA_SEMANA       3118 non-null   object
 8   ESTACION_A       3118 non-null   object
 9   FERIADO          3118 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 332.5+ KB

In [64]:
new_df['NIVEL'] = new_df['FRECUENCIA'].apply(
    lambda x: "bajo" if x < 3 else ("moderado" if 3 <= x <= 5 else "alto")
)

In [65]:
new_df

,FE_OCURRENCIA,FRECUENCIA,HORA_OCURRENCIA,CO_PROVINCIA,EXTRANJERO,CAT_VEHICULO,MES,DIA_SEMANA,ESTACION_A,FERIADO,NIVEL
0,2014-07-05,1,16:00,01,0,3.0,Julio,Sábado,Verano,False,bajo
1,2014-07-08,1,10:30,01,0,2.0,Julio,Martes,Verano,False,bajo
2,2014-07-11,1,10:00,01,0,4.0,Julio,Viernes,Verano,False,bajo
3,2014-07-12,1,22:00,01,0,2.0,Julio,Sábado,Verano,False,bajo
4,2014-07-14,1,10:00,01,0,5.0,Julio,Lunes,Verano,False,bajo
...,...,...,...,...,...,...,...,...,...,...,...
3113,2023-06-30,2,12:54,01,0,2.0,Junio,Viernes,Verano,False,bajo
3114,2023-07-01,3,12:54,01,0,2.0,Julio,Sábado,Verano,False,moderado
3115,2023-07-02,2,12:54,01,0,2.0,Julio,Domingo,Verano,False,bajo
3116,2023-07-03,4,12:54,01,0,2.0,Julio,Lunes,Verano,False,moderado
3117,2023-07-04,4,08:15,01,0,2.0,Julio,Martes,Verano,False,moderado

In [66]:
new_df.to_csv(DATA_PATH + '/pre-processed/data.csv', index=False)